.subjects-card{
    border: 2px solid rgb(252, 244, 244);
    border-radius: 10px;
}
.subjects-card:hover{
    border: 2px solid blue;
    
    box-shadow: -5px 8px 30px -20px black;
    transition: .4s;
}